{% extends 'network/base.html' %}

{% block title %}Вход{% endblock %}

{% block body %}

<br>
<form method="POST">
  {% csrf_token %}
  <br>
  <h1>Вход в систему</h1>
  <br>
  <div class="container font-weight-bold">
    <div class="row">
      <div class="col align-self-center mb-3">
        <label for="validationCustom02">Имя пользователя</label><br>
        {{ form.username }}
      </div>
    </div>
    <div class="row">
      <div class="col align-self-center">
        <label for="inputPassword4">Пароль</label><br>
        {{ form.password }}
      </div>
    </div>
  </div>
  <br>
  {% if form.errors%}
    <p>Неправильно введено имя пользователя или пароль</p>
  {% endif %}
  <button type="submit" class="btn btn-outline-light btn-lg">Войти</button>
</form>

{% endblock %}